<ion-header>
  <ion-toolbar>
    <ion-title>Unable to Access App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item class="vertical-align-items" lines="none">
    <ion-icon name="bug-outline"></ion-icon>
  </ion-item>
  -->
  <ion-content>
    <ion-button (click)="getSuccess()" expand="full">Get Success</ion-button>
    <ion-button (click)="getFailed()" expand="full">Get Failed</ion-button>
    <ion-button (click)="getRetryFailed()" expand="full">Get Retry Failed</ion-button>
    <ion-button (click)="getAuthFailed()" expand="full">Get Auth Failed</ion-button>
  </ion-content>
</ion-content>
