body {
  background-image: linear-gradient(-180deg, #060225 , #0F0340);
  padding: 0px;
  font-family: Tahoma;
  text-align: left;
  /* Center and scale the image nicely */
  background-image: url("Background2.jpg");
  backdrop-filter: blur(5px);
  height: 98%;
  width: 98%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

.tagMargin{
  margin-bottom: .1em;
}
.userItem{
  color:#FF3366;
}
.postlabel{
  color:#FF3366;
}
.navitem{
  color: #fff;
  text-shadow: 2px 4px 20px #a96fff;
}
.sort{
  color:#FF3366;
}
.tagItem{
  border: 1px solid #FF3366;
  padding: .1em;
}
textarea{
  width: 30em;
  height: 10em;
}
#submit.button{
  size: 1em;
}
/* #find-me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16em;
} */

.title{
  padding-left: .25em;
  text-shadow: 2px 4px 20px #a96fff;
  color: #fff;
}
.titleL{

  display: block;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  text-shadow: 2px 4px 20px #924DF9;
  color: #fff;
}
.flash-container {
  text-align: center;
  padding: 1px;
  border: 1px solid transparent;
  margin-left: 600px;
  margin-right: 600px;
  background-color:#0E0240;
  color: #ffa733;
  font-size: 16px;
}

.nav-container {
  padding-top: 1em;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
  text-shadow: 2px 4px 20px #924DF9;
  color: #fff;
}
a:hover {
  color:#FF3366;
  text-decoration: underline;
}

.button {
  width : 65px;
  padding : 3px;    
  font-size: 16px;
  margin : 5px;
  padding : 5px;
  border: 1px solid lightgray;
}
.button:hover {
  background-color: #FF3366;
  color: white;
}

.loginbutton {
  background-color: whitesmoke;
  width : 85px;
  padding : 3px;    
  font-size: 20px;
  margin : 5px;
  padding : 5px;
  border: 1px solid lightgray;
  margin-left: 46%;
}
.loginbutton:hover {
  background-color: #FF3366;
  color: white;
}

.likecount{
  margin-left: 1.23em;
  font-weight: bold;
}

.likeImg{
  padding: .5em;
}
.levelImg{
  padding: 1em;
}

.posttitle {
  color:#FF3366;
  border-radius: 1em;
  padding: .1em;
  font-family: 'Dosis', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.posttable {
  margin-top: 1em;
  color:#a96fff; 
  border-radius: 1em;
  background-color:#0E0240; 
}

.commentbutton {
  text-align: center;
  margin-top: .1em;
  color:#a96fff; 
  border-radius: 0.5em;
  background-color: rgb(23, 240, 240); 
}

.commentbutton:hover {
  color: #0E0240;
  background-color :rgb(116, 74, 233); 
}

.deletebutton {
  text-align: center;
  margin-top: .1em;
  color:#a96fff; 
  border-radius: 0.5em;
  background-color: rgb(23, 240, 240); 
}

/* old color: 8C3EFF */

.deletebutton:hover {
  color: #0E0240;
  background-color : #FF3366; 
}

.editbutton {
  text-align: center;
  margin-top: .1em;
  color:#a96fff; 
  border-radius: 0.5em;
  background-color: rgb(23, 240, 240); 
}

.editbutton:hover {
  color: #0E0240;
  background-color : #ffa733; 
}

.postbody{
  font-size: 16px;
  padding:.5em;
  margin-bottom: 2em;
}
.posttime{
  color : rgb(23, 240, 240); 
  font-size: 12px;
  padding: .5em;
}

.logintitle {
  display: block;
  margin-top: 5%;
  text-align: center;
  width: 50%;
  text-shadow: 2px 4px 20px #924DF9;
  color: #fff;
  margin-left: 25%;
}

.hometitle {
  display: block;
  margin-top: 1%;
  text-align: center;
  width: 50%;
  text-shadow: 2px 4px 20px #924DF9;
  color: #fff;
  margin-left: 24%;
}

.images {
  margin-left: 40%;
}

.login{
  display:block;
  color: #f6ac4b;
  font-size: 20px;
  padding: 0.1em;
  margin-left: 40%;
}

.loginremember{
  color: #FF3366;
  font-size: 20px;
  padding: 0.1em;
  /* margin-left: 40%; */
}

.postlist{
  display: flex;
  flex-wrap: wrap;
}
.post-box{
  display: flex;
  vertical-align: middle;
}

.currentuser{
  color : #a96fff; 
  font-size: 12px;
  padding: .5em;
}

.textinput{
  margin-left: 40%;
  font-size: 20px;
  width: 20%;
}

.checkbox{
  margin-left: 40%;
}
.error{
  margin-left: 40%;
}

@media screen and (min-width: 1200px) {
  .post-box{
      width: 32%;
  } 
}
@media screen and (min-width: 800px) and (max-width:1200px){
  .post-box{
      width: 48%;
  } 
}

@media screen and (max-width:800px){
  .post-box{
      width: 99%;
  } 
}



