<div>
    <table class = "posttable">
            <tr> 
                <td colspan="3"><div class="posttitle"> {{post.title}} </div>
                </td>
            </tr>
            <tr>
    
                <td class ="postbody" width= "80%">
                    <!--  (milestone 1) TODO: include post body -->  
                    <div class="postbody">{{post.body}}</div>
                    <br>
                    <div class="posttime">Posted at: {{ moment(post.timestamp).format('LLL')}}</div>
                </td>
              


                <td class ="likeImg" width = "5%">
                    {% if session[(post.id|string)][1] == "upVoted" %}
                        <a href="{{ url_for('upVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'clickedArrowUp.png' )}}"  width="50"> </a>
                        <br>
                        <div class="likecount">{{post.likes}}</div>
                        <a href="{{ url_for('downVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowDown.png' )}}"  width="50"> </a>
                        <br>

                    {% elif session[(post.id|string)][1] == "downVoted" %}
                        <a href="{{ url_for('upVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowUp.png' )}}"  width="50"> </a>
                        <br>
                        <div class="likecount">{{post.likes}}</div>
                        <a href="{{ url_for('downVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'clickedArrowDown.png' )}}"  width="50"> </a>
                        <br>
                    {% else %}
                        <a href="{{ url_for('upVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowUp.png' )}}"  width="50"> </a>
                        <br>
                        <div class="likecount">{{post.likes}}</div>
                        <a href="{{ url_for('downVote',post_id=post.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowDown.png' )}}"  width="50"> </a>

                    {% endif %}
                    <form action="{{ url_for('comments',post_id=post.id) }}" method="get">
                      <input type="submit" value="▶ comments" >
                    </form>
                    <br>
                </td>
               
            </tr>
  
        </table>
    </div>