
<div>
    <table class = "posttable">
            <tr>
    
                <td class ="postbody" width= "80%">
                    <!--  (milestone 1) TODO: include post body -->  
                    <div class="postbody">{{reply.body}}</div>
                    <br>
                    <div class="posttime">Posted at: {{ moment(reply.timestamp).format('LLL')}}</div>
                </td>
                <td class ="likeImg" width = "5%">
                {% if reply.liked == False and reply.disliked == False %}
                    <a href="{{ url_for('addLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowUp.png' )}}"  width="50"> </a>
                    <br>
                    <div class="likecount">{{reply.likes}}</div>
                    <a href="{{ url_for('disLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowDown.png' )}}"  width="50"> </a>
                    <br>
                {% elif reply.liked == False and reply.disliked == True %}
                    <a href="{{ url_for('addLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowUp.png' )}}"  width="50"> </a>
                    <br>
                    <div class="likecount">{{reply.likes}}</div>
                    <a href="{{ url_for('disLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'clickedArrowDown.png' )}}"  width="50"> </a>
                    <br>
                {% elif reply.liked == True and reply.disliked == False %}
                    <a href="{{ url_for('addLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'clickedArrowUp.png' )}}"  width="50"> </a>
                    <br>
                    <div class="likecount">{{reply.likes}}</div>
                    <a href="{{ url_for('disLikeCom',reply_id=reply.id) }}" width = "35" ><img class = "like" src="{{ url_for('static', filename = 'arrowDown.png' )}}"  width="50"> </a>

                {% endif %}
                </td>
               
            </tr>
  
        </table>
    </div>
