<html>
    <div class ="background">
    <head >
        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}

       {% if title %}
          <title>{{ title }} - Within Reach </title>
       {% else %}
          <title> Welcome to Within Reach! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>
        <div class ="nav-container">
        <table>
            <tr>
                <td><a href="{{ url_for('index') }}" class = "button">Home</a></td>
                <!-- Update user location upon clicking on "create Post" -->
                <td><a href="{{ url_for('createpost') }}" id = "find-me" class = "button"> Create Post </a></td>
                <p id="status"></p>
                <script type="text/javascript" src="static/location.js"></script>
                
                {% if current_user.is_anonymous %}
                    <td><a href="{{ url_for('login') }}" class = "button"> Login </a></td>
                {% else %}
                    <td><a href="{{ url_for('logout') }}" class = "button"> Logout </a></td>
                    <td class = "currentuser"> Current user is: <span class="useritem">{{ current_user.username }} </span></td>
                {% endif %}
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class ="flash-container"> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
    </div>
</html>