{% extends "base.html" %}

{% block content %}

    <img src="{{ url_for('static', filename = 'logo.png' )}}" width="300" class = "images">
    <h1 class= "hometitle">Within Reach</h1>
    {% if sortform %}
        <form action ="" method = 'POST'> 
            
            <div class ="sort">     
                {{sortform.sort.label}}
                {{ sortform.sort }}
                {{ sortform.submit(class="button")}}
            </div>
        </form>
    {% endif %}

    <div class = "postlist">{% for post in posts %}
        <!-- Only show posts within a certain mile radius -->
        {% if session %}
            {% if session[(post.id|string)][0] < 20 %}
                <div class="post-box">{% include '_post.html' %} </div>
            {% endif%}
        {% else %}
        <div class="post-box">{% include '_post.html' %} </div>
        {% endif%}
    {% endfor %}
    </div>
    
{% endblock %}